In [ ]:
#WHAT TO USE AFTER NAMING DATATYPES

In [ ]:
string--->()
list---->[]
tuple---->()
dictionary---->{}
set-----> if notempty->{},if empty-->set()

In [1]:
#example
list = []
tuple = ()
dict = {}
set = {} #empty set

In [2]:
print(list);type(list)

[]

list

In [3]:
print(tuple);type(tuple)

()

tuple

In [4]:
print(dict);type(dict)

{}

dict

In [5]:
print(set);type(set)

{}

dict

In [ ]:
#u can clearly see that only at set, the type is shown as dict
#if the set is empty we should assign it as set()

In [6]:
set1 = set()    #why it is showing error IDK.he used the same syntax

TypeError: 'dict' object is not callable

In [ ]:
#REQ:adding variables

In [7]:
set2 = {1}

In [ ]:
general syntax = set.add(variable)

In [8]:
print(set2)

{1}

In [9]:
#now,
set2.add(100)

In [10]:
print(set2)  #clearly 100 is added

{1, 100}

In [ ]:
# in the same manner.... to remove we use set.remove(variable)

In [11]:
set2.remove(100)

In [12]:
print(set2)  #clearly 100 is removed

{1}

In [ ]:
#REQ:randomly remove a variable from the set

In [13]:
set3 = {100,500,"hi","good"}

In [14]:
#general syntax--->set.pop()---->no variable should be in parenthesis

set3.pop()

'good'

In [15]:
print(set3)  #u can see that good has been removed randomly

{100, 500, 'hi'}

In [16]:
#let's do it again

set3.pop() #the output is showing which variable has been removed

100

In [17]:
print(set3) #see,now 100 has been removed randomly

{500, 'hi'}

In [ ]:
#operations
#1.union
#2.intersection
#3.difference
#4.symmetric difference

In [18]:
set4 = {1,2,3,4}
set5 = {5,6,7,8}

In [ ]:
#1.UNION  ----->combining the two sets

In [21]:
(set4.union(set5))   #DONE BY ME

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
print("union : ", set4.union(set5)) #DONE BY UNIPRO

union :  {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#2.INTERSECTION ----> printing out the same variablesis two sets

In [23]:
(set4.intersection(set5))  #as there are no same elements the output is null set

set()

In [ ]:
#3.DIFFERENCE-----. removing the elements of second set from first set

In [24]:
set4.difference(set5)

{1, 2, 3, 4}

In [ ]:
#4.SYMMETRIC DIFFERENCE ----> removes the same elements from two sets and prints the remaining variables

In [25]:
set4.symmetric_difference(set5)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# I USED THE IDEA OF LOGICAL OPERATORS OF "C",AND IT WORKED,EXCEPT IT TOOK A LOT OF TIME..
#and the operator in "c" and "python" are slightly different

In [30]:
set4 | set5 # ---------> THIS IS union

{1, 2, 3, 4, 5, 6, 7, 8}

In [34]:
set4 & set5 #-------> this is intersection

set()

In [35]:
set4 - set5 #------. this is difference

{1, 2, 3, 4}

In [ ]:
# IDK, which operator we should use for symmetrical difference

In [ ]:
#STRING
#ASSISGNMENT
#1. SIMPLE
#2. MULTI 
#4. SWAP

In [ ]:
#1. SIMPLE

In [36]:
str1 = 'A'
str2 = 'suhail'
str3 = 'i am good'
str4 = 'joke'

In [ ]:
#these are simple line strings

In [ ]:
#2.MULTI

In [ ]:
#multi line statements are written in "triple single quotes" or "triple double quotes"....

In [42]:
#like......
str5 = '''i am learning python'''

In [43]:
print(str5)

i am learning python

In [45]:
str6 = """i am learning python"""

In [46]:
print(str6)

i am learning python

In [ ]:
# u can see that both of them are multi line statements

In [48]:
str7,str8,str9 = "raj","kumar","""jklop
kkkk"""

In [49]:
print(str7)

raj

In [50]:
print(str8)

kumar

In [51]:
print(str9)

jklop
kkkk

In [ ]:
#like this we can give multi line statements

In [ ]:
#SWAP

In [77]:
str10 = 'hi'
str11 = 'shafi'

In [ ]:
# I DIDN'T GET THIS TOPIC, SO I AM LEAVING THIS

In [ ]:
#OPERATIONS

In [75]:
str10 = 'hi'
str11 = 'shafi'

In [ ]:
#concat (+)

In [76]:
str10+str11

'hishafi'

In [ ]:
#MULTIPLICATION (*) ------->it just prints the name the given number of times

In [79]:
str10*11

'hihihihihihihihihihihi'

In [80]:
str11*3

'shafishafishafi'

In [ ]:
#BUILTIN METHODS

In [ ]:
#capitalising

In [81]:
print(str11)

shafi

In [82]:
str11.title()  #---------. method told by fayaz

'Shafi'

In [83]:
str11.capitalize() #------> method told by unipro

'Shafi'

In [ ]:
#upper

In [84]:
str11.upper()

'SHAFI'

In [ ]:
#lower

In [85]:
str11.lower()

'shafi'

In [ ]:
#replace

In [90]:
str12 = "how are you,sir"

In [91]:
str12.replace("you","shafi")

'how are shafi,sir'

In [ ]:
#clearly you has been replaced by shafi

In [ ]:
#len

In [96]:
len(str12) #here, special characters are also counted.

15

In [ ]:
#1. STRING CONSTRUCTION

In [ ]:
#construction (join)

In [97]:
list1 = ["hi","how","are","you"]

In [ ]:
#joining the list

In [103]:
print(' '.join(list1)) #------> UNIPRO'S METHOD

hi how are you

In [104]:
.join(' ',(list1)) # -------> I tried IN SEVERAL WAYS doing this in fayaz's way....but, no we can't do...
#we have to follow unipro's method here

SyntaxError: invalid syntax (<ipython-input-104-64bfe069a855>, line 1)

In [107]:
print(' '.join(list1)) #------> whatever we write inside the single quotes will be added between each element

hi how are you

In [108]:
print('$'.join(list1))

hi$how$are$you

In [110]:
print(' lolo '.join(list1))

hi lolo how lolo are lolo you

In [ ]:
#2. PARSING ---. it splits your string's elements into the elements of list

In [117]:
str13 =('my name is, suhail')

In [118]:
str13.split()

['my', 'name', 'is,', 'suhail']

In [121]:
str13.split(',') #---->whatever  u give in the split parenthesis in single quotes,it splits upto there

['my name is', ' suhail']

In [122]:
str14 = ('i am a good$ boy,and good student')

In [123]:
str14.split('$')

['i am a good', ' boy,and good student']

In [ ]:
#u can see that it split into two from'$

In [129]:
#now,
str14.split(',')

['i am a good$ boy', 'and good student']

In [ ]:
#CHECK STRING(in,not in)

In [131]:
str16 = 'i am from kadapa'

In [132]:
'kadapa'not in str16 #------> kadapa was true,but we used not in so it said false

False

In [133]:
'chennai' not in str16 #-----. chennai was  false,but we used not in so it said true

True

In [136]:
'kadapa' in str16

True

In [137]:
'chennai' in str16

False

In [ ]:
#"in" says true or not
#"not in" makes true as false and false as true

In [ ]:
#format

In [140]:
name = input("ENTER THE NAME : ")
age = input("ENTER THE AGE : ")
location = input("ENTER THE LOCATION : ")

ENTER THE NAME : suhail
ENTER THE AGE : 17
ENTER THE LOCATION : kadapa

In [141]:
print(name,age,location)

suhail 17 kadapa

In [ ]:
#i didn't listen from here.............!